* {
  box-sizing: border-box;
}

:root {
  --Gradient: linear-gradient(to right);
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.data-storage-container {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: var(--Dark-Blue);
  padding: 2.5em 2em;
  border-radius: 10px;
}

.files-container {
  margin-bottom: 1em;
  border-top-right-radius: 6em;
}

.icons-container {
  display: flex;
  margin-top: 1.5em;
  width: 200px;
  justify-content: space-between;
  align-content: center;
}

.icon {
  background-color: var(--Very-Dark-Blue);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.storage-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storage-heading {
  opacity: 0.7;
  margin-bottom: 1em;
}

.bold-text {
  font-weight: 700;
  opacity: 1;
}

.gb-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.progress-bar {
  width: 90%;
  height: 20px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 0.2em;
}

.progressing {
  width: 85%;
  height: 15px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.2em;
}

.circle {
  width: 0.75em;
  height: 0.75em;
  background-color: white;
  border-radius: 50%;
}
