* {
  box-sizing: border-box;
}

:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
}

.data-storage-container {
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: var(--Dark-Blue);
  padding: 2.5em 2em;
  border-radius: 10px;
}

.files-container {
  margin-bottom: 1em;
  border-top-right-radius: 6em;
}

.icons-container {
  display: flex;
  margin-top: 1.5em;
  width: 200px;
  justify-content: space-between;
  align-content: center;
}

.icon {
  background-color: var(--Very-Dark-Blue);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.storage-container {
  color: white;
}

.storage-heading {
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-weight: 700;
  opacity: 1;
}

.gb-container {
  display: flex;
  justify-content: space-between;
}
